<html>
  <head>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <!--

    Title:

    {{#with htmlWebpackPlugin.options}}
      {{title}}
    {{/with}}

    Files:

    {{#each htmlWebpackPlugin.files as |v k|}}
      key: {{k}}
      value: {{v}}

    {{/each}}

    -->

  </head>
  <body>
  </body>
</html>
